html{background-color: rgb(29, 29, 29);}
body{margin: 0;}
.menu{position: fixed; left: 0; right: 0; background-color: gray; color: white; font-size: 3em;}
.t{width: 700px; color: white;}
.t1{font-size: 2em;}
.t1_{font-size: 1.5em;}