html{background-color: rgb(29, 29, 29);}
body{margin: 0;}
.menu{background-color: gray; color: white; font-size: 2.5em;}
.t{width: 700px; color: white; transform: translate(-50%,0); margin-left: 50%; margin-top: 300px;}
.t1{font-size: 2em; text-align: left;}
.t1_{font-size: 1.5em; text-align: right;}
.end{margin-bottom: 500px;}
